@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Quicksand:wght@600&family=Roboto&family=Spectral&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: auto;
}

.form-inline{
    margin-left: 75%;
}
.form-control {
    background-color: #ffffff4d !important;
}
.navbar-brand {
    font-size: 2.5rem;
    text-shadow: 4px 2px 5px black;
}
.btn{
    padding: 0.16rem 0.75rem !important;
    border-color: #ced4da !important;
}
.btn:hover{
 background-color: #cccccc !important;
}
.btn-outline-success:focus {
 background-color: grey !important;
 box-shadow: none !important;
}
nav{
    background-image: url("./Images/navbarImage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-outline-success {
    color: #3b3c3b !important;
}
.content-container {
    max-height: 150vh;
    margin-top: 10px;
    display: flex;
}

.Genre-container {
    height: 90vh;
    width: 15%;
}

.Genre-List {
    display: flex;
    flex-direction: column;
}

.Genre-List a {
    color: rgba(29, 29, 29, 0.995);
    margin-top: 9px;
    margin-right: 20px;
    margin-left: 6px;
    padding: 2px 6px;
    border-bottom: 2px solid rgba(95, 93, 93, 0.342);
    font-weight: 600;
}

.Genre-List a:hover {
    text-decoration: none;
}

.Genre-Heading {
    margin: 0px 6px;
}

#main-content-heading {
    height: 50px;
    width: auto;
    font-size: 30px;
    font-weight: 500;
    padding: 8px 0px 0px 50px;
}

.movie-card {
    border: 2px solid rgba(95, 93, 93, 0.342);
    min-height: auto;
    width: 250px;
    margin: 8px;
    border-radius: 4px;
}

.movie-poster img {
    height: 300px;
    width: 240px;
    object-fit: contain;
    padding-top: 5px;
}

.movie-title {
    font-size: 22px;
    font-weight: 500;
    padding: 0px 7px;
    padding-top: 5px;
    line-height: 1.3;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 5px;
    padding-top: 15px;
}

.display-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

/* movie-description-container................................... */
.movie-description {
    border: 2px solid rgba(46, 45, 45, 0.307);
    background: #9e9e9e;
    display: flex;
    min-height: 55%;
    width: 48%;
    position: fixed;
    margin: auto;
    top: 20%;
    left: 30%;
    z-index: 1;
}

.movie-image img {
    height: 300px;
    width: 240px;
    padding-top: 5px;
    object-fit: cover;
    margin: 35px 10px;
}

.movie-details {
    padding: 15px;
}

.movie-name {
    font-size: 32px;
}

.mr-top {
    margin-top: 8px;
}

.duration-genre {
    display: flex;
    padding-top: 10px;
    height: 40px;
}

.duration-genre ul li {
    margin-left: 25px;
}

.overview {
    font-size: 18px;
}

.ticket-booking {
    margin-top: 15px;
    padding: 5px;
}

.ticket-booking:active {
    background-color: rgba(75, 73, 73, 0.603);
    color: antiquewhite;
}

.close-button {
    position: absolute;
    right: 0;
    border: none;
    background: none;
    margin: -3px 12px 0px 0px;
    height: 40px;
    width: 40px;
}

.close-button:active {
    font-weight: 600;
}

.close-button:focus {
    outline: none !important;
}

/*.............................Checkout page Css...................................  */

.payment-details {
    /* border: 2px solid red; */
    background-image: url("./Images/navbarImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.summary {
    /* border: 2px solid green; */
    padding: 20px;
    width: 40%;
    min-height: 250px;
}

.summary-heading,
.payment {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

input {
    margin: 6px 10px 6px 0px;
    height: 32px;
    font-size: 16px;
    padding: 10px;
    outline: none;
    background: transparent;
}

label {
    margin-top: 12px;
    margin-right: 50px;
    font-size: 18px;
}

.card-type-info {
    display: flex;
    text-align: center;
}

.personal-information {
    padding: 10px;
    padding-top: 0px;
    border-left: 2px solid grey;
    border-width: 5px;
    /* border-radius: 15%; */
    padding-left: 110px;
}

.displayFlex {
    display: flex;
    flex-direction: column;
}

.commonCss{
    font-size: 18px;
}
.paymentBtn{
    background-color: #cccccc;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
    padding: 5px;
}
.paymentBtn:hover{
    background-color: #9e9e9e;
}
.NumberofTicket input{
    margin: 6px 0px 6px 0px;
}
.ticketPrice,.NumberofTicket,.fee,.totalPrice{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.movieTitle{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
}
.backButton{
    background-color: #cccccc;
    font-size: 18px;
    padding: 4px 20px;
    margin: 5px 10px 0px 15px;
}